header{
    padding: 30px;
    background-color: #011533;
    color: blue;
    font-size: 30px;
}

body{
    margin: 0px;
}

#main{
    padding: 50px;
    font-size: 30px;
    display: grid;
    grid-template-columns: 420px auto;
}

#box{
    background-color: #060606;
    padding: 10px;
}

#cal{
    background-color: white;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
}

#cal div{
    margin: 5px;
    padding: 5px;
    font-size: 70px;
}

#aff{
    background-color: #010101;
    color: white;
    grid-column: 1/10;
    text-align: right;
}

.touche{
    background-color: #070707;
    color: white;
    text-align: center;
}
